<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/admin.css">
</head>
<body>
    <h1 class="header">Admin_</h1>
    <div class="container">
        <div class="requests">
           <form action="" method="post">
             <div class="request-box">

               <% requests.forEach((ele)=>{ %>
                 <% if(ele !== null){ %>
                    <form action="/signIn/admin?userId=<%= ele.userId %>&book=<%= ele.bookName %>" method="post">
                        <div class="book-box">
                            <p class="book-name"><%= ele.userId %></p>
                            <p class="book-author"><%= ele.bookName %> </p>
                            <button class="read-book" type="submit">approve request</button>
                        </div>
                    </form>
                 <% } %>
               
                <% }) %>

                <!-- <form action="" method="get">
                   
                  </form>                 -->
             </div>
           </form>
        </div>
        <div class="approved-requests">

        </div>
    </div>
</body>
</html>