<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="/style/bootstrap-5.2.0-beta1-dist/bootstrap-5.2.0-beta1-dist/css/bootstrap.css">
</head>
<body>
    <form class=" w-50 mx-auto mt-5" action="/signIn" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input name="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 d-flex flex-column">
          <label for="flexCheckDefault" class="form-label">Are you the administrator?</label>
          <input class="form-check-input" name="administrator" type="checkbox" value="checked" id="flexCheckDefault">
        </div>
        <button type="submit" class="btn btn-primary d-flex mx-auto ">Submit</button>
      </form>
</body>
</html>